* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.slider-window{
    position: relative;
    height: 200px;
    overflow: hidden;
}

.slider-container-absolut{
    position: absolute;
    margin: 0 0 0 40px;
}

.slider-container{
    position: relative;
    width: 280px;
    height: 200px;
    background-color: white;
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: normal;
    border: 1px solid red;
    margin: 0 0 0 40px;
}

.slide{
    width: 200px;
    height: 200px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Чтобы слайды не сжимались */
    border: 1px solid coral;
}

#demoDisplay .slide{
    display: none;
}
#demoVisibility .slide{
    visibility: hidden;
}

#demoOpacity .slide{
    opacity: 0;
}
#demoDisplay .slide.active{
    background-color: yellow;
    display: flex;
}

#demoVisibility .slide.active{
    background-color: coral;
    visibility: visible;

}

#demoOpacity .slide.active {
    background-color: darkred;
    opacity: 1;
}